body {
 background-color: #000;
  font-family: 'Oswald', 'Futura', sans-serif;
  margin: 0; 
  padding: 0;
}

#page {
 background-color: #403c3b;
  margin: 0 auto 0 auto;
  position: relative;
  text-align: center;
}

h1 {
  background-image: url();
  background-repeat: no-repeat;
  background-position: center center;
  text-align: center;
  text-indent: -1000%;
  height: 75px;
  line-height: 75px;
  width: 117px;
  margin: 0 auto 0 auto;
  padding: 30px 10px 20px 10px;

}

h2 {
  color: #fff;
  font-size: 24px;
  font-weight: normal;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: .3em;
  display: inline-block;
  margin: 0 0 23px 0;
}

h2 span {
	background-color: #fff;
  color: #000;
  font-size: 12px;
  text-align: center;
  letter-spacing: 0;
  display: inline-block;
  position: relative;
  border-radius: 50%;
  top: -5px;
  height: 22px;
  width: 26px;
  padding: 4px 0 0 0;
}

ul {
border:none;
  padding: 0;
  margin: 0;
}

li {
background-color: #ec8b68;
  color: #fff;
  border-top: 1px solid #fe9772;
  border-bottom: 1px solid #9f593f;
  font-size: 24px;
  letter-spacing: .05em;
  list-style-type: none;
  text-shadow: 2px 2px 1px #9f593f;
  text-align: left;
  height: 50px;
  padding-left: 1em;
  padding-top: 10px;
}

li .a {
  color: #fff;
  background-image: url();
  background-position: right, center;
  background-repeat: no-repeat;
  text-decoration: none;
  padding-right: 36px;
}

li.complete a {
  background-image: none;
}

  p {
  background-color: #fff;
  color: #666; 
  padding: 10px;
  display: inline-block;
  margin: 20px auto 20px auto;
  width: 80%;
  border-radius: 5px;
  text-align: center;
}


.fatCat {
  background-color: #d7666b;
  color: #fff;
  text-shadow: 2px 2px 1px #914141;
  border-top: 1px solid #e99295;
  border-bottom: 1px solid #914141;
}

.skinnyCat {
  background-color: #6cc0ac;
  color: #fff;
  text-shadow: 2px 2px 1px #3b6a5e;
  border-top: 1px solid #7ee0c9;
  border-bottom: 1px solid #3b6a5e;
}

.ariel {
  background-color: #999;
  color: #fff;
  background-image: url();
  background-position: right, center;
  background-repeat: no-repeat;
  border-top: 1px solid #666;
  border-bottom: 1px solid #b0b0b0;
  text-shadow: 2px 2px 1px #333;
}

.ariel a {
	display:block;
}


 FORM STYLES 

select {
  padding: 0 20px 20px 20px;
  display: inline-block;
}

label {
  color: #fff;
  display: block;
  margin: 10px 0 10px 0;
  font-size: 24px;
}

input[type='submit'], a.add, button, a.show {
  background-color: #cb6868;
  color: #f3dad1;
  border-radius: 8px;
  border: none;
  padding: 8px 10px;
  margin-top: 10px;
  font-family: 'Oswald', 'Futura', sans-serif;
  font-size: 18px;
  text-decoration: none;
  text-transform: uppercase;
}

input[type='submit'], a.add, button {
  float: right;
} 

input[type='text']:focus, input[type='password']:focus, textarea:focus {
  border: 1px solid #fff;
  background-color: #fff;
  outline: none;
}

input[type='submit']:hover, a.add:hover, a.show:hover {
  background-color: #000;
  color: #fff;
  cursor: pointer;
}


::-webkit-input-placeholder {color: #403c3b; font-family: arial, sans-serif;}
:-moz-placeholder {  Firefox 18-  color: #403c3b; font-family: arial, sans-serif;}
::-moz-placeholder { Firefox 19+  color: #403c3b; font-family: arial, sans-serif;}
ms-input-placeholder { color: #403c3b; font-family: arial, sans-serif;}


textarea {
  width: 96%;
  height: 5em;
  line-height: 1.4em;
}

select, option {
  font-size: 16px;
}

label.selectbox {
  display: inline;
}

label.checkbox {
  display: inline;
  font-size: 16px;
}

h2 a {
  font-size: 12px; 
}

a.show{
  font-size: 12px; 
  padding: 5px; 
  letter-spacing: 0; 
  position: relative;
  top: -5px;
  left: 10px;
}

#newRobotButton {
padding: 10px 20px 75px 20px; display: none;
}

#showForm {

}

#newRobotForm {
padding-top: 20px;
}

#newRobotForm input[type='submit'] {
	margin-top: 0; text-align: left;
}

#robotDescription {
width: 360px;
}

#addRobot {

}

#footer {
  background:none;
  color: #fff;
}


@media only screen and (max-width: 500px) {
  body {
      background-color: #403c3b;
  }
  #page {
    max-width: 480px;
  }
}

@media only screen and (min-width: 501px) and (max-width: 767px) {
  #page {
    max-width: 480px;
    margin: 20px auto 20px auto;
  }
}

@media only screen and (min-width: 768px) and (max-width: 959px) {
  #page {
    max-width: 480px;
    margin: 20px auto 20px auto;
  }
}

@media only screen and (min-width: 960px) {
  #page {
    max-width: 480px;
    margin: 20px auto 20px auto;
  }
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) { 
  h1{
    background-image: url();
    background-size: 72px 72px;
  }
}
